body {

  background: #03071E;
  display: block;
  margin: 2em;
}

.wrapper {
  max-width: 1200px;
  margin:0 2em 0 2em;
  width: 100%;
  display: block;
}

.container {
  background: #fff;
  padding: 10px;
}

.container, .navbar {
  padding: 20px;
}

.container {
  background: #fff;
}

.navbar {
  align-items: center;
  color: white;
  display: flex;
  justify-content: space-between;
}

.navbar a {
  color: white;
  text-decoration: none;
}
